---
import Layout from '@/layouts/layout.astro';
import Variables from '@/components/variables.astro';
---

<Layout title="Split Counter" pageName="index">
    <Variables/>
    <div class="block">
        <a href="/counter" class="button button-fill button-large external">Go to Counter</a>
    </div>
</Layout>
